*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(219, 213, 213);
}
.container{
    width: 700px;
    margin: 10px auto;
}
.form-sections{
    display: flex;
}
.typing{
    width: 300px;
    margin-bottom: 10px;
    padding: 6px 4px;
    border: 1px solid blue;
}
.form-article{
    padding: 10px 6px;
   background: white;
}
h2{
    margin-bottom: 10px;
}
.two{
    margin-left: 40px;
}
.form-btn{
    padding: 10px 7px;
    border: none;
    background: rgb(2, 75, 14);
    color: white;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
.display-board{
    width: 665px;
    background: rgb(2, 75, 14);
    margin-top: 10px;
    color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}
.show-result{
    text-align: center;
    margin-top: 8px;
    padding-bottom: 7px;
}
h2{
    color: rgb(12, 12, 167);
}
.items-list{
    width: 665px;
    background: white;
    margin-top: 10px;
    padding: 5px;
}
.todo-list{
    margin-top: 10px;
    color: blue;
    font-weight: 500;
}
.table{
    margin-top: 10px;
}
h4{
    color: blue;
}
button{
    padding: 4px 6px;
    border: none;
    background: rgb(14, 5, 139);
    color: white;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
}
.single-todolist{
    display: flex;
    justify-content: space-around;
    color:rgb(42, 42, 155);
    font-weight: 500;
    margin-bottom: 8px;
}
.Item{
     border-left: 5px solid yellow;
     padding-left: 10px;
}